.inlineFlex {
  display: inline-flex;
}

.top-bottom-padding {
  padding: 15px 0;
}

.top-bottom-margin {
  margin: 15px 0;
}

.input-field.col label {
  left: 0px;
}

.datepicker-date-display {
  background-color: #e57373;
}

.datepicker-day-button {
  color: black;
}

.cityDiv {
  margin: 150px 0 0 0;
  height: 200px;
  text-align: center;
}

/* .datepicker-table td.is-selected {
  background-color: #e57373;
} */
